{% load static %}
<head>
<link rel="stylesheet" href="{% static 'codex/style.css' %}">
</head>
<h1 class="textColor"> Allies: {{ allies|length }}</h1>

<ul>
    {% for ally in allies %}
        <li><a href = "{% url 'ally_detail' ally.id %}">{{ ally.name }}</a></li>
    {% endfor %}
</ul>

<h2 class="textColor"> Create a New Ally:</h2>
<div class="form-container textBackground divBackground">
    <form method="post" action="{% url 'allies' %}">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button class="buttonColor rounded button" type ="submit">Create Ally</button>
    </form>
</div>