{% load static %}
<head>
<link rel="stylesheet" href="{% static 'codex/style.css' %}">
</head>
<h1 class="textColor"> Creatures: {{ creatures|length }}</h1>

<ul>
    {% for creature in creatures %}
        <li><a href = "{% url 'creature_detail' creature.id %}">{{ creature.name }}</a></li>
    {% endfor %}
</ul>

<h2 class="textColor"> Add a New Creature:</h2>
<div class="form-container textBackground divBackground">
    <form  method="post" action="{% url 'Creatures' %}">
        {% csrf_token %}
        
        {{ form.as_p }}
        <button class="buttonColor rounded button" type="submit">Add Creature</button>
    </form>
</div>