{% load static %}
<head>
<link rel="stylesheet" href="{% static 'codex/style.css' %}">
</head>

<h1 class="textColor">Most Recent Entries:</h1>
{% if allyResponse and enemyResponse %}
   <p class="textColor"> {{allyResponse}}  </p>
   <p class="textColor"> {{enemyResponse}}  </p>  
{% elif allyResponse %}
    { allyResponse }
{% elif enemyResponse %}
    { enemyResponse } 
{% else %}
    <h3 class="textColor">No Recent Acquaintances</h3>

{% endif %}

<a href="{% url 'Enemies' %}">Enemies</a>
<p></p>
<a href = "{% url 'allies' %}">Allies</a>
<p></p>
<a href ="{% url 'Creatures' %}">Creatures</a>

